.job-instance {
    display: flex;
    flex-flow: column nowrap;
}

.job-instance h2 {
    text-align: center;
}

.job-executions {
    display: table;
    margin: 5px;
}

.job-execution-header {
    display: table-row;
}

.job_execution-header-cell {
    display: table-cell;
    font-weight: bold;
    color: dimgrey;
    padding: 5px;
    border-bottom: 2px solid darkgray;
}

.job-execution {
    display: table-row;
}

.execution-cell {
    padding: 5px;
}

.execution-id {
    cursor: pointer;
    display: table-cell;
    text-align: right;
    font-weight: bold;
}

.execution-status {
    display: table-cell;
}

.execution-time {
    font-style: italic;
    display: table-cell;
}